body {
  font-family: "Raleway"", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  margin-top: 10px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fixed {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
