body {
  font-family: "Glegoo"", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
  background-color: #de0000;
  color: #f7f302;
  padding: 10px;
}

nav {
  margin-top: 10px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-fixed {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
